//skiplink
.skipLink{
  position: absolute;
  left:-1000px;
  top:5px;
  color: black;
  z-index:10;
  &:focus{
    left:0;
  }}

//header 

header {
  background-color: $primary;
  padding: 25px 50px;
  
  .wrapper{
    nav{
      margin-bottom: 80px;
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        li{
          margin-right: 50px;
          
          a{
            color: $whiteColor;
            font-size: 1.5rem;
            font-family: $bodyFamily;
            
            
            &:hover, &:focus{
              border-bottom: 2px solid $bottomLine;
            }
          }
        }
      }
    }
    .headerContent{
     display: flex;
     flex-direction: column;
     align-items: center;
     color:$whiteColor;
     h1{
      font-size: 3.5rem;
      font-family: $bodyFamily;
      font-weight:bold;
     }
     .lead{
      font-size: 1.2rem;
      margin-bottom: 30px;
      font-style: italic;
      font-family: $bodyFamily;
     }
     .projects{
      padding: 10px 25px;
      background-color: $btnColor;
      border-radius: 5px;
      color: $fontColor1;
      margin-bottom: 50px;
      transition: all 0.5s;
      &:hover,&:focus{
        background-color: $bottomLine;
      }
     }
    }
  }
}
