
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  max-width: 1280px;
  margin: 0 auto;
  width:90%;
}

a{
  text-decoration: none;
  
}
li {
  list-style: none;
}

body{
  font-family: $bodyFamily;
  font-size: 1.1rem;
}

h2{
  font-family: $bodyFamily;
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
  color:$aboutColor;
  margin-bottom: 10px;
}
h3{
  font-family: $bodyFamily;
  font-weight: bold;
  font-size: 1.4rem;
  color:$fontColor1;
  margin-top: 55px;
}

img{
  width:100%;
  height:100%;
}

.flexBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  .imgContainer{
    max-width: 100%;
    width:42%;
    border-radius: 20%;
    background-color: $btnColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    img{
      width:100%;
      text-align: center;
      transition: 0.3s ease;
      &:hover,&:focus {
        transform: scale(1.1);
      }
    }
  }
  .contentContainer{
   max-width: 100%;
   width:50%;
   padding: 0 40px;
   h3{
    margin-bottom: 5px;
  }
  .skills{
    font-size: 0.8rem;
    font-family: $bodyFamily;
    font-weight: bold;
    color: $aboutColor;
    margin-bottom: 10px;
  }
  .content{
    font-size: 1.2rem;
    line-height: 1.5;
  }
  p{
    margin-bottom: 20px;
    text-align: left;
  }
  a{
    margin-right: 30px;
    padding: 10px 25px;
    background-color: $lightColor;
    border-radius: 5px;
    transition: all 0.5s;
    &:hover,&:focus{
      background-color: $primary;
    }
  }

  }
}
.box2,.box4{
 flex-direction: row-reverse;
}

