html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
  color: #36117e;
  margin-bottom: 10px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #333;
  margin-top: 55px;
}

img {
  width: 100%;
  height: 100%;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
.flexBox .imgContainer {
  max-width: 100%;
  width: 42%;
  border-radius: 20%;
  background-color: #F8DCC9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.flexBox .imgContainer img {
  width: 90%;
  border-radius: 20%;
  text-align: center;
}
.flexBox .imgContainer:hover, .flexBox .imgContainer:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.flexBox .contentContainer {
  max-width: 100%;
  width: 50%;
  padding: 0 40px;
}
.flexBox .contentContainer h3 {
  margin-bottom: 5px;
}
.flexBox .contentContainer .skills {
  font-size: 0.8rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  color: #36117e;
  margin-bottom: 10px;
}
.flexBox .contentContainer p {
  margin-bottom: 20px;
  text-align: justify;
}
.flexBox .contentContainer a {
  margin-right: 30px;
  padding: 10px 25px;
  background-color: #c9d4f8;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.flexBox .contentContainer a:hover, .flexBox .contentContainer a:focus {
  background-color: #988DAE;
}

.box2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  color: black;
  z-index: 10;
}
.skipLink:focus {
  left: 0;
}

header {
  background-color: #988DAE;
  padding: 25px 50px;
}
header .wrapper nav {
  margin-bottom: 80px;
}
header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .wrapper nav ul li {
  margin-right: 50px;
}
header .wrapper nav ul li a {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
}
header .wrapper nav ul li a:hover, header .wrapper nav ul li a:focus {
  border-bottom: 2px solid #FFA500;
}
header .wrapper .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
header .wrapper .headerContent h1 {
  font-size: 3.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}
header .wrapper .headerContent .lead {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-style: italic;
  font-family: "Nunito Sans", sans-serif;
}
header .wrapper .headerContent .projects {
  padding: 10px 25px;
  background-color: #F8DCC9;
  border-radius: 5px;
  color: #333;
  margin-bottom: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .wrapper .headerContent .projects:hover, header .wrapper .headerContent .projects:focus {
  background-color: #FFA500;
}

.about {
  background-color: #f7f3ff;
}
.about .wrapper {
  max-width: 100vw;
  width: 100%;
}
.about .wrapper .aboutInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 300px;
  text-align: justify;
}
.about .wrapper .aboutSkills {
  background-color: #c9d4f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper .aboutSkills h2 {
  padding-top: 80px;
  color: #333;
  margin-bottom: 50px;
}
.about .wrapper .aboutSkills .skillIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 120px;
}
.about .wrapper .aboutSkills .skillIcons .pie {
  text-align: center;
  --p:80;
  --b:10px;
  --c:#9a88b3;
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  -webkit-transition: 0.5s scale;
  transition: 0.5s scale;
}
@property --p {
  .about .wrapper .aboutSkills .skillIcons .pie {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
}
.about .wrapper .aboutSkills .skillIcons .pie:before, .about .wrapper .aboutSkills .skillIcons .pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.about .wrapper .aboutSkills .skillIcons .pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), rgba(0, 0, 0, 0) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
}
.about .wrapper .aboutSkills .skillIcons .pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  -webkit-transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
          transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}
.about .wrapper .aboutSkills .skillIcons .pie span {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: bold;
  color: #333;
}
.about .wrapper .aboutSkills .skillIcons .pie p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  color: #333;
}
.about .wrapper .aboutSkills .skillIcons .pie:hover, .about .wrapper .aboutSkills .skillIcons .pie:focus {
  scale: 1.3;
  cursor: pointer;
}
.about .wrapper .aboutSkills .skillIcons .no-round:before {
  background-size: 0 0, auto;
}
.about .wrapper .aboutSkills .skillIcons .no-round:after {
  content: none;
}
.about .wrapper .aboutSkills .skillIcons .animate {
  -webkit-animation: p 1s 0.5s both;
          animation: p 1s 0.5s both;
}
@-webkit-keyframes p {
  from {
    --p:0;
  }
}
@keyframes p {
  from {
    --p:0;
  }
}

.projects {
  background-color: #f7f3ff;
}
.projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .wrapper h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.contact {
  background-color: #8D95AE;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .wrapper h2 {
  text-align: center;
  margin-top: 80px;
  color: #FFFFFF;
}
.contact .wrapper .social {
  text-align: center;
  margin-bottom: 20px;
}
.contact .wrapper .social i {
  color: #F8DCC9;
  margin-right: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact .wrapper .social i:hover, .contact .wrapper .social i:focus {
  color: #FFA500;
}
.contact .wrapper form {
  text-align: center;
}
.contact .wrapper form .textFields {
  display: grid;
  grid-template-areas: "name email" "subject phone" "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}
.contact .wrapper form .textFields .nameInput {
  grid-area: name;
}
.contact .wrapper form .textFields .subjectInput {
  grid-area: subject;
}
.contact .wrapper form .textFields .emailInput {
  grid-area: email;
}
.contact .wrapper form .textFields .phoneInput {
  grid-area: phone;
}
.contact .wrapper form .textFields .messageInput {
  grid-area: message;
  height: 100px;
}
.contact .wrapper form .textFields .textInput {
  padding: 0.5rem 1rem;
}
.contact .wrapper form .btn {
  display: inline-block;
  width: 30%;
  background-color: #F8DCC9;
  border-radius: 10px;
  padding: 15px 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  border: none;
  margin-bottom: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact .wrapper form .btn:hover, .contact .wrapper form .btn:focus {
  background-color: #FFA500;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #333;
  padding: 20px;
  color: #FFFFFF;
}